<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
<style>
body {
    font-family: 'Roboto', sans-serif;
    color:  #17202A;
}

h1, h3 {
    color: #0E6655;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color:  #17202A;
}

th, td {
    border: 1px solid  #000000;
    padding: 8px;
    text-align: left;
    background-color: #E8F8F5;
}

th {
    background-color: #f2f2f2;
    background-color: #8bcec1;
}

</style>



</head>
<body>
    <h1 th:text="'Detalles del estudiante ' + ${estudiante.nombre}">Detalles del Estudiante</h1>
    <img th:src="@{/images/}+${estudiante.foto}"
        alt="Foto del Estudiante1" height="50px" width="50px">

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Género</th>
                <th>Fecha de Matrícula</th>
                <th>Total de asignaturas</th>
                <th>Curso</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
                <input type="hidden" th:field="*{id}">
                <td th:text="${estudiante.nombre}"></td>
                <td th:text="${estudiante.apellidos}"></td>
                <td th:text="${estudiante.genero}"></td>
                <td th:text="${estudiante.fechaMatricula}"></td>
                <td th:text="${estudiante.asignaturasMatriculadas}"></td>
                <td th:text="${estudiante.curso.descripcion}"></td>
                <td th:text="${estudiante.curso.horario}"></td>

        </tbody>
    </table>

    
</body>
</html>